/*
    Theme Name: zNewsPaper
    Author: Noman141
    Author uri: https://www.fiverr.com/noman141
    Version:1.0.0
*/
/* ==== Google font ==== */
@import url(http://fonts.googleapis.com/css?family=Roboto:400,300,700,900);
@import url('http://fonts.googleapis.com/css?family=Ek+Mukta:400,600,700');

/* ---------------------------------------------------------------------------- */
/* ------------------------------------Html-Body------------------------------- */
/* ---------------------------------------------------------------------------- */
body {font-family: 'Ek Mukta', sans-serif;color: #666;background: url(../images/bg2.jpg) fixed ;font-size: 15px;line-height: 1.6em;font-weight: 400;}
html, body {width:100%; padding:0; margin:0;}

::-moz-selection{background:#000;color:#fff;text-shadow:none}
::selection{background:#000;color:#fff;text-shadow:none}
/* ---------------------------------------------------------------------------- */
/* ---------------------------------------------------------------------------- */
/* ---------------------------------------------------------------------------- */
html { -webkit-text-size-adjust: none;}
.video embed,.video object,.video iframe { width: 100%;  height: auto;}
img{max-width:100%;	height: auto;width: auto\9; /* ie8 */}

h1 {font-size: 38px;}
h2 {font-size: 36px;}
h3 {font-size: 32px;}
h4 {font-size: 28px;}
h5 {font-size: 24px;}
h6 {font-size: 20px;}

h1,h2,h3,h4,h5,h6 {font-family: 'Roboto', sans-serif;font-weight: 600;color: #111;}

p {margin: 0 0 20px;}

a {
   color: #7DC314;
   -webkit-transition: all .2s ease-in-out;
   -moz-transition: all .2s ease-in-out;
   transition: all .2s ease-in-out;
}

a:hover,
a:focus {text-decoration: none;color: #000;}

.center{text-align: center; margin: 0 auto;}
.f-right{float: right;}
.f-left{float: left;}
.t-right{text-align: right;}
.t-left{text-align: left;}

.post{}
.post:after, .post:before, article:after, article:before, section:after, section:before{clear: both; content: '\0020'; display: block; visibility: hidden; width: 0; height: 0;}

.clear{content: "\0020"; display: block; height: 0; clear: both; visibility: hidden; }
.clearfix:after, .clearfix:before{clear: both; content: '\0020'; display: block; visibility: hidden; width: 0; height: 0;}

/* --Line-- */
hr.line{border-color: #ddd;width: 100%;padding: 0;margin:0;}

/* --Page-- */
body.index-page {}
body.sub-page {padding-top: 30px;background-color: #F9F9F9;}
body.sub-page .logo {margin: 110px 0 80px;background: url(../images/bg.jpg) fixed; padding: 30px 0 50px;}

/* ---------------------------------------------------------------------------- */
/* -------------------------------------Top------------------------------------ */
/* ---------------------------------------------------------------------------- */
#top {background: #fff;padding: 10px 0 0; color: #000;border-bottom: 1px solid #ddd;}
#top a{color: #000;}
#top a:hover{color: #69BF03}

#top ul.top-link {}

.link{text-align:right}
.link a{display:inline-block;text-decoration:none;font-size:12px;font-weight:bold;letter-spacing:1px}
.link  li:after{content:'/';margin: 0 0 0 12px;display:inline-block;font-weight: bold;}
.link  li:last-child:after{content:'';margin-right:0px;margin-left:0;display:none}
.link  li ul{display:none}

/* ---------------------------------------------------------------------------- */
/* ------------------------------------Menu------------------------------------ */
/* ---------------------------------------------------------------------------- */
#menu {background-color: #252628;border-radius: 0;}
#menu a.navbar-brand:hover{color: #fff;}
#menu .navbar-brand{margin: 0;padding: 14px 18px;background-color: #000000;height: auto;text-transform: uppercase;}
#menu .logo {}
#menu .navbar-collapse{padding:0;}
#menu .dropdown-menu {background-color: #fff;border:none;}
#menu ul.nav .dropdown-menu li a{color: #000;font-weight: bold;border-radius: 5px !important;}
#menu ul.nav .dropdown-menu li a:hover{color: #fff;background-color: #000;}
#menu .dropdown-inner {display: table;}
#menu .dropdown-inner ul {display: table-cell;}
#menu .dropdown-inner a {min-width: 160px;display: block;padding: 3px 20px;clear: both;line-height: 20px;color: #000;font-size: 14px;margin: 0 5px;}
#menu li.dropdown:hover>a, #menu li.dropdown:focus>a, #menu li.dropdown:active>a{background: #fff;color: #000;}

#menu ul.nav li a{font-weight: bold;color: #fff;border-radius: 5px;padding: 14px 19px;}
#menu ul.nav li.dropdown a{border-top-left-radius: 5px;border-top-right-radius: 5px;border-bottom-right-radius: 0px;border-bottom-left-radius: 0px;}
#menu .nav > li > a:hover, #menu .nav > li > a:focus{background-color: #fff;color:#000;}

#menu .top-social{background-color:#505052;padding: 5px;font-size: 20px; text-align: center;}
#menu ul.top-social{margin: 0;}
#menu ul.top-social  li{height: 38px; width: 38px; }
#menu ul.top-social a i{color: #fff;line-height: 1.9;height: 38px; width: 38px;border-radius: 50%;background-color: #252628;}
#menu ul.top-social a i:hover{background-color:#fff;color: #000;}

#menu .btn-navbar {font-size: 20px;color: #FFF;padding: 5px 15px;float: right;border: 3px solid #fff;}

@media  (max-width: 768px){
	#menu {background-color: #000;border-radius: 0;}
}

@media  (min-width: 768px) {
    #menu.navbar{padding: 0;height: auto;margin-top: 20px;}
	#menu .dropdown:hover .dropdown-menu {display: block;}
	
}
@media(max-width:767px) {
	
	#menu .navbar-brand {display: block;color: #fff;}
	#menu div.dropdown-inner > ul.list-unstyled {display: block;}
	#menu .dropdown-inner a {width: 100%;color: #fff;}
	#menu div.dropdown-menu {margin-left: 0 !important;	padding-bottom: 10px;background-color: rgba(0, 0, 0, 0.1);}
}

/* ---------------------------------------------------------------------------- */
/* -----------------------------------Header----------------------------------- */
/* ---------------------------------------------------------------------------- */
header{}


/* Carousel Styles */
.carousel-inner img {width: 100%;max-height: 640px;}

.carousel-control {width: 0;}
.carousel-control.left,
.carousel-control.right {opacity: 1;filter: alpha(opacity=100);background-image: none;background-repeat: no-repeat;text-shadow: none;}
.carousel-control .glyphicon-chevron-left, 
.carousel-control .glyphicon-chevron-right, 
.carousel-control .icon-prev, 
.carousel-control .icon-next {position: absolute;top: 45%;z-index: 5;display: inline-block;}
.carousel-control .glyphicon-chevron-left,
.carousel-control .icon-prev {left: 30px;}
.carousel-control .glyphicon-chevron-right,
.carousel-control .icon-next {right: 30px;}
.carousel-control.left span:hover,
.carousel-control.right span:hover {opacity: .7;filter: alpha(opacity=70);}

.carousel-indicators .active {background-color: #DA251D;}
.carousel-indicators {bottom: 10px;}

.carousel-inner > .item {margin-left:0;margin-top:0;margin-bottom:0;padding-left: 0;width: 100%;height: auto;}
.carousel-inner > .item > img,
.carousel-inner > .item > a > img {display: block;max-width: 100%;height: auto;margin-left:0;padding-left: 0;}

/* Carousel Header Styles */
.header-text {position: absolute;top: 33%;left: 1.8%;right: auto;width: 96.66666666666666%;color: #fff;}
.header-text h2 {font-size: 40px;padding: 10px;color: #fff;text-transform: uppercase;background-color: #DA251D;display:inline-block;color:#fff;}
.header-text h3 {color: #fff;}

/* ---------------------------------------------------------------------------- */
/* -------------------------------------Content-------------------------------- */
/* ---------------------------------------------------------------------------- */
#page-content{padding: 0;}
#page-content.index-page, #page-content.single-page, #page-content.archive-page{margin-top: 20px;}

.archive-page {}
.archive-page .box .zoom-container{max-width: 250px;display: inline-block;float: left;margin-right: 5px;}

.featured{background-color: #fff;padding: 15px ;border: 1px solid #ddd;}

/* ---MainContent--- */

.box {background-color: #fff;padding: 20px 20px 10px;}
.box:last-child{padding: 20px 20px 5px;}
.box:after, .box:before{clear: both; content: '\0020'; display: block; visibility: hidden; width: 0; height: 0;}
.box .info {margin: 5px 0 10px 0;}
.box .info a{color: #000;border-bottom: 1px solid #000;box-shadow: inset 0 -1px 0 #000;transition:all ease 150ms;}
.box .info a:hover {color:#FFFFFF;text-shadow: none;border-bottom: 1px solid #000;box-shadow: inset 0 -1.3em 0 #000;text-decoration: none;}
.box h2 {font-size: 30px;margin:0;}

.box .box-header.header-photo{background: url(../images/title-picture.png) repeat-x center center;margin-bottom: 20px;}
.box .box-header.header-natural{background: url(../images/title-natural.png) repeat-x center center;margin-bottom: 20px;}
.box .box-header.header-vimeo{background: url(../images/title-vimeo.png) repeat-x center center;margin-bottom: 20px;}
.box .box-header h2{font-size: 25px;padding: 0px 8px;background-color: #fff;display: inline-block;margin-left: 15px;color: #333;}

.box .box-content {margin-top: 30px;}
.box .box-content a{font-weight: bold;color: #333;}
.box .box-content a:hover{color: #555;}
.box .box-content h3{font-size: 18px;margin: 10px 0 5px ;}
.box .box-content span{font-size: 15px;}
.box .box-content span i{font-size: 14px;margin-right: 2px;}
.box .box-content p{margin-top: 10px;}

/* ---Vid-Effect--- */
.wrap-vid{}
.vid-item {position: relative;}
.vid-name{margin: 0;}
.vid-name a{font-size: 19px;color: #333;}
.vid-name a:hover{color: #FD0005;}
.vid-tags {margin: 15px 0;border: 1px solid #ddd;padding: 30px ;}
.vid-tags a{background: #FD0005;padding: 5px 10px;color: #fff;}
.vid-tags a:hover{background: #000;}
.info {margin: 0;font-size: 14px;}
.info i{margin-right: 8px;}
.info span{margin-right: 10px;}
.info h5, .info a{font-size: 13px;line-height: 1;margin: 0 0 5px;}
.info a{color: #006EA0;}
.info a:hover{text-decoration: underline;}

.rating{font-size: 14px;line-height: 1.2;}

ul.pagination{margin: 42px auto 25px;}
ul.pagination li a{color: #444;}

/* ---Sidebar--- */
#sidebar{}

.widget{background: #fff;padding:10px 20px;}
.widget:after, .widget:before{clear: both; content: '\0020'; display: block; visibility: hidden; width: 0; height: 0;}
.widget ul li{list-style:none;}
.widget .heading{background: url(../images/title.png) repeat-x center center;}
.widget .heading h4{font-size: 22px;padding: 0px 8px;background-color: #fff;display: inline-block;margin-left: 15px;color: #333;text-transform: uppercase;}
.widget .content {}

.widget.wid-vid ul a{display:inline;margin: 3px 2px;float:left;color:#333;padding:5px;border-bottom: 1px solid transparent;border-top: none;border-right: none;border-left: none;font-weight: bold;}
.widget.wid-vid .tab-content{margin-top: 13px;}
.nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover{background: none;}
.widget.wid-vid ul a:hover,.widget.wid-vid ul a:focus{background: none;border-top: none;border-right: none;border-left: none;}
.widget.wid-vid ul li {border-bottom: 1px solid transparent;}
.widget.wid-vid ul li:hover{border-bottom: 1px solid #FD0005;}
.widget.wid-vid ul li+:hover{border-bottom: 1px solid #7DC314;}
.widget.wid-vid ul li+li+:hover{border-bottom: 1px solid #966B20;}
.widget.wid-vid .post{margin-top: 12px;}
.widget.wid-vid .post img{float: left; max-width: 105px;display: inline-block;}
.widget.wid-vid h5{margin-top:0;font-size: 18px;}
/*.widget.wid-vid .wrapper {vertical-align: middle;text-align: left;line-height: 1.4em;padding-bottom: 7px;margin-top: 20px;}*/

.widget.wid-gallery{}
.widget.wid-gallery img{padding: 2px;}

.widget.wid-new-post{}
.widget.wid-new-post h6{font-size: 16px;}
.widget.wid-new-post ul{margin: 5px 0;}
.widget.wid-new-post p:last-child{margin: 0;}

.widget.wid-recent-post{}
.widget.wid-recent-post span{display: block;margin-bottom: 7px;}

.widget.wid-comment{}
.widget.wid-comment img{max-width: 50px;border: 1px solid #ddd;}
.widget.wid-comment .post{margin-bottom: 0; border-bottom: 1px solid #ddd;padding-top: 10px; }
.widget.wid-comment .wrapper{margin-left: 5px;}
@media (min-width: 1100px){
	.widget.wid-comment .wrapper{max-width: 175px;}
}

.widget.wid-categoty{}
.widget.wid-categoty select{padding: 6px 10px;}

.widget.wid-tweet{}
.widget.wid-tweet p{margin: 0;}
.widget.wid-tweet span{display: block;color: #999;}
.widget.wid-tweet .tweet-item{border-bottom: 1px solid #ddd;padding: 5px;}
.widget.wid-tweet .tweet-item:last-child{border-bottom: none; padding: 5px 0 0;}

.widget.wid-tags{}
.widget.wid-tags a{color: #333; border: 1px solid #333; padding: 1px 10px;line-height: 2.2;font-size: 14px;text-transform: capitalize;}
.widget.wid-tags a:hover{color: #7DC314; border: 1px solid #999;}

.widget.wid-follow{}
.box-facebook, .box-twitter, .box-google{width: 95px; height: 95px;;color: #fff;text-align: center;padding: 15px;}
.box-facebook:hover, .box-twitter:hover, .box-google:hover{background-color: #000;}
.box-facebook{background-color:#3B5998}
.box-twitter{background-color:#1DCAFF}
.box-google{background-color:#DD4B39}
.box-facebook span, .box-twitter span, .box-google span{display: block;line-height: 1;}
.icon{margin-bottom: 10px;}

.post {margin-bottom: 15px;}
.post:after, .post:before{clear: both; content: '\0020'; display: block; visibility: hidden; width: 0; height: 0;}
.post:last-child {margin-bottom: 0;}
.post:after, .post:before{clear: both; content: '\0020'; display: block; visibility: hidden; width: 0; height: 0;}
.post h5{margin:0;font-size: 15px;}
.post img{float: left; max-width: 125px;display: inline-block;}
.post .zoom-container .zoom-caption p{font-size: 15px;padding: 4px;}
.post .wrapper {display: inline-block;text-align: left;}
.post .info h6, .post .info a{font-size: 13px;margin: 1px 0 3px;}
.post .info {font-size: 12px;margin-top: 0;}
.post .info span{display: block;margin:0;line-height: 1.6;font-size: 11px;}
.post .info i{font-size: 11px;margin-right: 2px;}

/* ---------------------------------------------------------------------------- */
/* -------------------------------------Footer--------------------------------- */
/* ---------------------------------------------------------------------------- */
footer{background-color: #202020;margin-top: 20px;color: #ddd;padding: 20px 0 10px;}
footer .wrap-footer{border-bottom: 1px solid #444;padding-bottom: 20px;}
footer .copy-right{text-align: center;padding-top: 20px;}
footer .footer-heading h4{color: #fff;font-size: 20px;}
footer .content{}
footer .col-footer{}
footer .footer-1{}
footer .footer-1 img{max-width: 140px;margin-bottom: 10px;}
footer .footer-1 p{border-bottom: 1px solid #444;margin-bottom: 10px;padding-bottom: 7px;}
footer .footer-1 input[type="text"]{ 
	border: 2px solid #E7E7E7;
	outline: medium none;
    color: #999999;
    display: block;
    font-size: 14px;
    height: 40px;
    line-height: 1.2;
    margin: 10px 0;
    padding: 5px 10px 0;
    width: 100%;
	background-color: transparent;
    border: 2px solid #444444;
}

footer .footer-2{}
footer .footer-2 a{color: #999; border: 1px solid #999; padding: 1px 10px;line-height: 2.2;font-size: 14px;text-transform: capitalize;}
footer .footer-2 a:hover{color: #7DC314;}

footer .footer-3{}
footer .footer-3 ul {padding: 0;}
footer .footer-3 ul li {list-style: none;margin-bottom: 15px; border-bottom: 1px solid #444;padding-bottom: 10px;}
footer .footer-3 ul li:last-child{border-bottom: none;}
footer .footer-3 ul li a{color: #999;}
footer .footer-3 ul li a:hover{color: #666;}

/* ---------------------------------------------------------------------------- */
/* -------------------------------------Contact-------------------------------- */
/* ---------------------------------------------------------------------------- */
.contact h2{font-size: 34px; font-weight: 500;letter-spacing: 3px;padding-top: 20px ;text-align: center;}

#contact_form {padding:25px;}

#ff label {cursor:pointer;margin:px 0;display:block;font-weight:bold;}
#ff input {display:block;width:100%;color:#000;padding:10px;margin: 5px 0 25px 0;}
#ff textarea {display:block;width:100%;height:200px;background-color:#fff; color:#000;padding:10px;margin: 5px 0 25px 0;}

#ff .sendButton {border: none;cursor:pointer;background-color: #FD0005;-webkit-border-radius:3px;-moz-border-radius:3px;border-radius:3px;;width:100px;color:#ffffff;}
#ff .sendButton:hover {background-color: #000;}

.message{text-align: center;}
.message .wrap{	padding: 50px; background: #ffffff; border: 1px solid #333333;display: inline-block;border-radius: 5px;	-webkit-border-radius: 5px; -moz-border-radius: 5px;-khtml-border-radius: 5px;}
.message .text{font-size: 35px;	margin-bottom: 30px;}

/* ---------------------------------------------------------------------------- */
/* -----------------------------------Owl-Theme-------------------------------- */
/* ---------------------------------------------------------------------------- */
.owl-theme .owl-controls .owl-page span{background-color: #999;border: 1px solid #666;}
.owl-theme .owl-controls .owl-page span:hover{background-color: #666;}

#owl-demo-2 .item{margin: 1px;}
#owl-demo-2 .item img{margin: 1px;}

/* ---------------------------------------------------------------------------- */
/* ----------------------------------Button------------------------------------ */
/* ---------------------------------------------------------------------------- */
.btn-facebook, .btn-twitter, .btn-pinterest, .btn-google, .btn-mail{color: #fff;}
.btn-facebook:hover, .btn-twitter:hover, .btn-pinterest:hover, .btn-google:hover, .btn-mail:hover{background-color: #000; color: #fff;}
.btn-facebook{background-color: #3B5998;}
.btn-twitter{background-color: #00ACED;}
.btn-pinterest{background-color: #CA212A;}
.btn-google{background-color: #EB4026;}
.btn-mail{background-color: #666666;}

.btn-2{padding: 3px 8px;}

.btn-3{background-color: #444444;color: #FADA1A;font-weight: bold;}
.btn-3:hover{background-color: #fff;color: #000;}
/* ---------------------------------------------------------------------------- */
/* --------------------------------Zoom-Effect--------------------------------- */
/* ---------------------------------------------------------------------------- */
.zoom-container {
	position: relative;
	overflow: hidden;
	display: inline-block;
	font-size: 16px;
	font-size: 1rem;
	vertical-align: top;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	
}
.zoom-container a {
    display: block;
    position: absolute;
    top: -100%;
    opacity: 0;
    left: 0;
    bottom: 0;
    right: 0;
    text-align: center;
    color: inherit;
}
.zoom-container:hover a {
    opacity: 1;
    top: 0; 
    z-index: 500;
}
.zoom-container:hover a i {
    top: 50%;
    position: absolute;
    left: 0;
    right: 0;
    transform: translateY(-50%);
}
.zoom-container img {
	display: block;
	width: 100%;
	height: auto;
	-webkit-transition: all .5s ease; /* Safari and Chrome */
    -moz-transition: all .5s ease; /* Firefox */
    -ms-transition: all .5s ease; /* IE 9 */
    -o-transition: all .5s ease; /* Opera */
    transition: all .5s ease;
	
}
.zoom-container .zoom-caption i.icon-play {
	font-size: 22px;
	background-color: rgba(17, 17, 17, 0.8);
	max-width: 60px;
	margin: 0 auto;
	padding: 8px 5px;
	border-radius: 8px;
}
.zoom-container .zoom-caption i.icon-play:hover {
	background-color: rgba(210, 0, 0, 0.9);
}
.zoom-container .zoom-caption {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 10;
	-webkit-transition: all .5s ease; /* Safari and Chrome */
    -moz-transition: all .5s ease; /* Firefox */
    -ms-transition: all .5s ease; /* IE 9 */
    -o-transition: all .5s ease; /* Opera */
    transition: all .5s ease;
	color: #fff;
}
.zoom-container .zoom-caption span{position:absolute;top: 0;padding: 0px 7px;font-weight: bold;font-size: 13px;}
.zoom-container .zoom-caption span.youtube{background-color: #FD0005;}
.zoom-container .zoom-caption span.vimeo{background-color: #17B3E8;}
.zoom-container .zoom-caption p{position: absolute;bottom: 0;left:0; right: 0;text-align: center;font-size: 20px; font-weight: bold;background: rgba(0, 0, 0, .5);margin:0;padding: 10px;}
.zoom-container:hover img {
	-webkit-transform:scale(1.25) rotate(5deg); /* Safari and Chrome */
    -moz-transform:scale(1.25) rotate(5deg); /* Firefox */
    -ms-transform:scale(1.25) rotate(5deg); /* IE 9 */
    -o-transform:scale(1.25) rotate(5deg); /* Opera */
     transform:scale(1.25) rotate(5deg);
}
.zoom-container:hover .zoom-caption {
	background: rgba(0, 0, 0, .5);

}

.box .nav-links .page-numbers{
    position: relative;
    float: left;
    padding: 6px 12px;
    line-height: 1.42857143;
    text-decoration: none;
    color: #000;
    background-color: #fff;
    border: 1px solid #ddd;
    margin-left: -1px;
}
.box .nav-links .current{
    color: #428bca;
    border: 2px solid #428bca;
}
#owl-demo .wp-post-image, #owl-demo-1 .wp-post-image{
    height: 160px;
    width: 100%;
}
#carousel-example-generic .wp-post-image{
    height: 400px;
}

#main-content .zoom-container .wp-post-image{
    height: 70px;
    width: 125px;
}
#sidebar #searchsubmit{
    display: none;
}
#sidebar .screen-reader-text{
    display: none;
}
